.header{
    display: flex;

}
#image{
    margin: 0px;
    margin-right: 50px;
}
#title{
    margin:0px;
    /* border: 0px solid black; */
    color: rgb(55, 55, 55);
    font-family: 'Poppins',sans-serif;
    font-weight: 10px;
    font-size: 25px;
}
#links{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
    color: black;
    font-size: large;
    font-weight: 300;
    margin: 10px;
    text-decoration: none;
}
#StudentInformation{
    background-color: aquamarine;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}